<div class="leftbar">
    <div class="nav-user-icon d-flex">
        <img src="assets/images/profile-pic.png" alt="">
        <p class="mx-3 my-3 font">Muthu Krishnan</p>
    </div>
    <div class="d-flex ">
        <i class="bi bi-people-fill clr"></i>
        <p class="mx-3 my-3 font">Friends</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-arrow-counterclockwise clr"></i>
        <p class="mx-3 my-3 font">Memories</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-bookmark-fill clr"></i>
        <p class="mx-3 my-3 font">Saved</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-person-circle clr"></i>
        <p class="mx-3 my-3 font">Groups</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-play-btn-fill clr"></i>
        <p class="mx-3 my-3 font">Videos</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-shop-window clr"></i>
        <p class="mx-3 my-3 font">Marketplace</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-newspaper clr"></i>
        <p class="mx-3 my-3 font">Feed</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-calendar2-event clr"></i>
        <p class="mx-3 my-3 font">Events</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-chevron-down clr"></i>
        <p class="mx-3 my-3 font">See more</p>
    </div>
    <hr>
    <div class="d-flex">
        <h2>Your shoutcuts</h2>
        <p class="edit">Edit</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-controller game"></i>
        <p class="mx-3 my-3 font">8 ball Pool</p>
    </div>
</div>
