<div class="leftbar">
    <div class="nav-user-icon d-flex">
        <img src="assets/images/muthu.jpg" alt="">
        <p class="mx-3 my-3 font">Muthu Krishnan</p>
    </div>
    <div class="d-flex ">
        <i class="bi bi-people-fill clr"></i>
        <p class="mx-3 my-3 font">Friends</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-arrow-counterclockwise clr"></i>
        <p class="mx-3 my-3 font">Memories</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-bookmark-fill clr"></i>
        <p class="mx-3 my-3 font">Saved</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-person-circle clr"></i>
        <p class="mx-3 my-3 font">Groups</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-play-btn-fill clr"></i>
        <p class="mx-3 my-3 font">Videos</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-shop-window clr"></i>
        <p class="mx-3 my-3 font">Marketplace</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-newspaper clr"></i>
        <p class="mx-3 my-3 font">Feed</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-calendar2-event clr"></i>
        <p class="mx-3 my-3 font">Events</p>
    </div>
    <div class="accordion" id="accordionExample">
        <h2 class="accordion-header" id="headingOne">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <div class="d-flex">
                    <i class="bi bi-chevron-down clr"></i>
                    <p class="mx-3 my-3 font">See more</p>
                </div>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- Content for the first accordion item -->
                <div class="d-flex">
                    <i class="bi bi-reception-4 clr"></i>
                    <p class="mx-3 my-3 font">Ads Manager</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-globe-central-south-asia clr"></i>
                    <p class="mx-3 my-3 font">Socical science center</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-credit-card-2-back-fill rotate-45 clr"></i>
                    <p class="mx-3 my-3 font">Facebook pay</p>
                </div>
                <div class="d-flex">
                    <img src="assets/images/heart.png" alt="" class="clr heart">
                    <p class="mx-3 my-3 font">Fundraisers</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-nintendo-switch clr"></i>
                    <p class="mx-3 my-3 font">Gaming Video</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-messenger violet"></i>
                    <p class="mx-3 my-3 font">Messenger</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-messenger teal"></i>
                    <p class="mx-3 my-3 font">Messenger kids</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-flag-fill text-warning"></i>
                    <p class="mx-3 my-3 font">Pages</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-controller clr"></i>
                    <p class="mx-3 my-3 font">Play Games</p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-badge-ad-fill clr"></i>
                    <p class="mx-3 my-3 font">Recent Ad Activity</p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="d-flex">
        <h2>Your shoutcuts</h2>
        <p class="edit">Edit</p>
    </div>
    <div class="d-flex">
        <i class="bi bi-controller game"></i>
        <p class="mx-3 my-3 font">8 ball Pool</p>
    </div>
</div>