.rightbar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.rightbar-title h4 {
    font-weight: 400;
    font-size: 20px;
    color: #919191;
}

.rightbar-title a {
    text-decoration: none;
    font-size: 12px;
    color: #2e81f4;
}

.rightbar {
    flex-basis: 25%;
    position: relative;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color: #626262;

    i {
        font-size: 20px;
    }

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    p {
        font-size: 20px;
        color: black;
        text-transform: capitalize;
    }
}

.row {
    background-color: #efefef;
}

.modal {
    h1 {
        text-align: center;
    }

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .post {
        display: flex;
        border: 1px solid gray;
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
    }

    input {
        height: 200px;
    }

    p {
        color: black;
    }
}