<div class="rightbar">
    <div class="rightbar-title">
        <h4>Contacts</h4>
        <div>
            <i class="bi bi-search"></i>
            <i class="bi bi-three-dots mx-3"></i>
        </div>
    </div>
    <div class="d-flex">
        <div class="d-grid">
            <img src="assets/images/profile-pic.png" alt="">
            <i class="bi bi-dot" style="font-size: 30px; color: #00A400; margin-top: 10px; margin-left: 20px;position: absolute;"></i>
        </div>
        <p class="mx-3 my-1" style="font-size: 15px;">Muthukrishnan</p>
    </div>
    <div class="d-flex my-3">
        <div class="d-grid">
            <img src="assets/images/member-2.png" alt="">
            <i class="bi bi-dot" style="font-size: 30px; color: #00A400; margin-top: 10px; margin-left: 20px;position: absolute;"></i>
        </div>
        <p class="mx-3 my-1" style="font-size: 15px;">Ajith Kumar</p>
    </div>
    <div class="d-flex my-3">
        <div class="d-grid">
            <img src="assets/images/member-4.png" alt="">
            <i class="bi bi-dot" style="font-size: 30px; color: #00A400; margin-top: 10px; margin-left: 20px;position: absolute;"></i>
        </div>
        <p class="mx-3 my-1" style="font-size: 15px;">Vijay</p>
    </div>
    <div class="d-flex my-3">
        <div class="d-grid">
            <img src="assets/images/member-5.png" alt="">
            <i class="bi bi-dot" style="font-size: 30px; color: #00A400; margin-top: 10px; margin-left: 20px;position: absolute;"></i>
        </div>
        <p class="mx-3 my-1" style="font-size: 15px;">Suriya</p>
    </div>
    <div class="d-flex my-3">
        <div class="d-grid">
            <img src="assets/images/member-7.png" alt="">
            <i class="bi bi-dot" style="font-size: 30px; color: #00A400; margin-top: 10px; margin-left: 20px;position: absolute;"></i>
        </div>
        <p class="mx-3 my-1" style="font-size: 15px;">Rajini Khanth</p>
    </div>
    
</div>
