// h1{
//     text-align: center;
// }
.img{
    height: 300px;
    width: 30%;
    border-radius: 50%;
}
// .post{
//     display: flex;
//     border: 1px solid gray;
//    justify-content: space-between;
//    padding: 10px;
//    margin: 10px;
// }
// input{
//     height: 200px;
// }
// form{
//     width: 100%;
// }
// i{
//     cursor: pointer;
// }
// .postImg{
//     width: 40px;
//     height: 40px;
//     border-radius: 50px;
// }
// .postImage{
//     height: 526px;
//     width: 526px;
//     margin: 1rem;
// }
.card{
    width: 30%;
    margin: auto;
    padding: auto;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
}
/* Define styles for dark theme */
.dark-theme {
    background-color: #333; /* Set your desired dark background color */
    color: #fff; /* Set text color for dark theme */
}

/* Define styles for light theme */
.light-theme {
    background-color: #fff; /* Set your desired light background color */
    color: #333; /* Set text color for light theme */
}
body {
    transition: background-color 0.5s ease; /* Smooth transition for background color */
}