.img{
   width: 50px;
   margin: 43%;
}
.col{
    height: 100%;
}
strong{
    font-style: normal;
}
.form-control{
    width: 50%;
    margin: 43% 43% 43% 20%;
    border: 5px solid salmon;
}
.google{
    width: 30px;
}
.row{
    width: 100%;
}